@import url(http://fonts.googleapis.com/css?family=Dosis);

body {
	font-family: 'Dosis';
   clear: both;

}
.fa-cloud, .fa-suitcase {
	color: #44ffbb;
}

.fa-comment {
	color: white;
}

.center {
    margin-left: auto;
    margin-right: auto;


}

hr {
	margin-top: 1%;
	background: #eee;
}

i {
	margin-right: 3%;
}

.container {
	display: inline-block;
	width:100%;
}

.shift {
margin-top: -15%;
}

.text-center {
	text-align: center;
}
.div-content
{
	display: block;
  color:white;
    background: #ff6d6d;
}

.content{
	width: 100%;
	display: block;

}

h1, h2, h3, h4 {
	color: #2b2b2b;
	font-weight: lighter;
}

h1 {
	font-size:3em;
	color: #44ffbb;
}

h2 {
	font-size:2.5em;
	font-style: italic;
}

h3 {
	font-size: 2em;
	font-weight: lighter;
}

h4 {
	font-size: 1.5em;
}

/* Button */
.btn {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2em;
	
}

img {

	width: 100%;
	padding: 0 0 5% 0;

}

a {
	color: #2d2d2d;
	text-decoration: none;

}

a:hover {
	color: #44ffbb;
}

.fa-caret-down
{
	color:#44ffbb;
}

a i:hover {
color: #fafafa;
}

.nav {
 
    width: 100%;  
    left: 0;   
    z-index: 100;  
background: black;
  text-transform: uppercase;
  font-weight: bolder;
  text-decoration: none;
  position:absolute;

}


ul li {
	padding: .5em 1em .5em 1em;
	margin: 0 2em 0 2em;
	font-size: 1.2em;
}

ul {
width: 100%;
    text-align: center;

}

li {
	display: inline-block;
    *display: inline; 
    *zoom: 1; 
}

.box{
  border:0px solid black;
  margin: 0;
  display:block;
  text-align: center;
  float:left;
  box-sizing: border-box;
}
.box:nth-child(2n + 0) { float: right; }

#home{
  position: relative;
  text-align: center;
  margin: 20% 0 0 0;
   padding-top: 20%;
   padding-bottom: 50%;
   background: #fafafa;

}

.nav-logo {
	padding: 0;
	margin: 0;
	max-width: 50px;

}



.nav-logo:hover{
	border: none;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.03);
}

#about {
 padding-right: 5%;
  padding-left: 5%;
  line-height: 40px;

}


#works {

}

.pBottom {
	padding-bottom: 22%;
	margin-bottom: -15%;
}

#paku{
	overflow: hidden;
 margin-bottom: -16%;
}
#contact {
   text-align: center;
  height: 100%;

}

.logo{
	  display: table;
    margin: 0 auto;
}